[buildout]
extensions=buildout.dumppickedversions
overwrite-picked-versions-file=true
dump-picked-versions-file=versions.cfg
develop=.
parts=
  pyramid
  omelette

[pyramid]
recipe=zc.recipe.egg
eggs=
    pyccms
dependent-scripts = true
interpreter = py

[omelette]
recipe=collective.recipe.omelette
eggs=${pyramid:eggs}
